.piece {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  border: 1px solid black;  
  margin: 10px;
}

.piece.current::after {
  content: "^";
  position: relative;
  top: 26px;
  left: 10px;
}

.clickable {
  cursor: pointer;
}

#main div.clickable:active {
  border: 1px solid red;
}

.one { background: #E3E3E3; }
.two { background: black; }
.three { background: #F5F55D; }
.four { background: #6BD656; }
.five { background: red; }
.six { background: #388FC9; }
.black { background: black; }
.border { border: 1px solid black; }

#main {
  display: flex;
  flex-direction: row;
  width: 450px;
  margin-left: auto;
  margin-right:auto;
}

#board {
  border: 1px solid black;
  margin: 10px;
  overflow: auto;
  height: 500px;
  width: 325px;
}

.rowholder {
  display: flex;
}

.row {
  display: flex;
  justify-content: center;
  border: 1px solid #555;
  margin: 10px;
  width: 220px;
  height: 55px;
}

.score {
  width: 60px;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.score .scorerow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.score .peg {
  border-radius: 30px;
  margin: 5px;
  width: 15px;
  height: 15px;
}

#sidebar > div {
  width: calc(25px + 10px * 2); /* button width + paddings */
  padding: 5px;
  margin: 10px;
}

#palette {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.side.button {
  font-family: monospace;
  font-size: 12px;
  text-align: center;
  border: 1px solid black;
}

.side.button.disabled,
.unclickable {
  cursor: default;
  pointer-events: none;
}
.side.button.disabled {
  color: #ddd;
  border-color: #ddd;
}

#star, #star:before, #star:after {
  background: rgba(255,196,00,0.3);
  font-size: 34px;
  line-height: .95;
  color: #ce5900;
  width: 34px;
  height: 34px;
}
#star {
  position: relative;
  top: 10px;
  left: 14px;
}
#star:before, #star:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}
#star:before {
  transform: rotate(30deg);
}
#star:after {
  transform: rotate(60deg);
}
